.container {
    background-image: url(/home/ndakala/Downloads/projects/Documents/reactprojects/reactshop/src/Components/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }